.banner{
    position: relative;
}
.banner__imagen{
    background: url("../imagenes/bannerHongo.png") no-repeat center / cover;
    height: 70vh;
    margin-top: 2rem;
    width: 100%;

}

.banner__texto-titulo{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-left: 10%;
    padding-top: 12rem;
}

.banner__texto-descripcion{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 10%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.banner__boton{
    align-items: center;
    background: #2A7AE4;
    color: #FFFFFF;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    justify-content: center;
    margin-left: 10%;
    padding: 2rem;
    width: 200px;
}