.banner{
    position: relative;
}

.banner a {
    display:inline-block;
    margin-left: 9%;
    text-decoration: none;
}
.banner__imagen{
    background: url("../imagenes/bannerHongo.png") no-repeat center / cover;
    height: 70vh;
    margin-top: 2rem;
    width: 100%;

}

.banner__texto-titulo{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    margin-left: 10%;
    padding-top: 12rem;
}

.banner__texto-descripcion{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-left: 10%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.banner__boton{
    align-items: center;
    background: #2A7AE4;
    color: #FFFFFF;
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 19px;
    justify-content: center;
    margin-left: 10%;
    padding: 2rem;
    width: 200px;
}

@media screen and (max-width: 768px){

    .banner{
        width: 100%;
    }

    .banner__imagen{
        height: 70vh;
        margin-top: 2rem;
        width: 100%;
    }
    .banner__texto-titulo{
        margin-left: 5%;
        padding-top:25%;
        width: 70vh;
    }
    .banner__texto-descripcion{
        margin-left: 5%;
    }
    .banner__boton{
        display: grid;
        place-content: center;
                font-size: 16px;
        height: 10px;
        justify-content: center;
        margin-left: 5%;
        padding: 1rem;
    }
}
    
@media screen and (max-width: 360px){

    .banner__texto-titulo{
        margin-left: 5%;
        padding-top:25%;
        font-size: 28px;

    }
    .banner__texto-descripcion{
        margin-left: 5%;
        font-size: 14px;

    }
    .banner a {
        place-content: center;
        font-size: 16px;
        height: 10px;
        justify-content: center;
        margin-left: 5%;
        padding: 1rem;
    }

}