.busqueda__cuadro{
    display:flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 4rem;
}

.busqueda__cuadro___texto{
    background: #F5F5F5;
    background-image: url("../imagenes/lupa.png");
    background-position: right;
    background-position-x: 95%;
    background-repeat: no-repeat;
    background-size: 1.1rem;
    border-radius: 20px;
    height: 40px;
    left: 208px;
    padding: 8px, 16px, 8px, 16px;
    top: 5px;
    width: 393px;
}

.busqueda__cuadro___boton{
    background-color: #ffffff;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left: 20%;
    margin-right: 0%;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
}