body{
    background: #e5e5e5;
    font-family: 'Raleway', sans-serif;
}
header{
    background: #ffffff;
}

main{
    background: #e5e5e5;
}

footer{
    background: #ffffff;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
